html{
    scroll-behavior: smooth;
    font-family: 'Abel', sans-serif;
}

body{
  background-color: white;
  font-size: 18px;

}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  z-index: 1;
}

.skip a:focus{
/*Add the selector and rule to move the skip link to the exact top.*/
  top: 0px;
}

*:focus{
  border: 2px solid black;
}
p{
    font-size: 15px;
    line-height: 20px;
    padding: 15px;

    
    }

h1{
  font-size: 35px;
    line-height: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;

    /* padding-left: 25px; */
    /* grid-column: 3 / 3; */
}

h1.ceren{
  text-align: center;
}

h2{
  text-align: center;
  font-size: 20px;
  padding: 25px;
  line-height: 1.25;
}

h3{
  font-size: 14px;
  line-height: 20px;
  color: black;
}


.one{
  font-size: 12px;
  line-height: 20px;
  color: black;
  font-style: italic;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
  padding: 10px;
  margin: auto 0;
}

    nav ul{
      list-style-type: none;
    }

    nav li{
      display: inline;
      padding-right: 20px;
    }

    nav a{
      color: black;
      font-weight: bold;
      text-decoration:none;
    }

    nav a:hover{
      text-decoration: underline;
      color: orchid;
    }

    #nav_bar ul li a.active-page{
      color: blue;
    }

    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: top 1s ease-out;
      transition: top 1s ease-out;
      z-index: 1;
    }


    footer{
      background-color: lightgrey;
      color: black;
      grid-column: 1 / -1;
      padding: 20px 0px 20px 0px;
      text-align: center;
    }

    .container{
      display: grid;
      grid-template-columns: 25% 50% 25%;
      width: 100vw;
    }

    h4{
      padding: 20px;
    }
    .publications{
      padding: 20px;
      margin-left: 15px;
      line-height: 1.5;
      font-weight: bold;
    }


    .published{
      background-color: lightblue;
      margin: 20px 0px 20px 0px;
    }
    .nav{
      font-size: 14px;
      line-height: 23px;
      background-attachment: fixed;
      background-color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: right;
      grid-column: 3 / 3;
      grid-row: 1/2;
    }

    #imgwrap{
      display: flex nowrap;
      flex-direction: column;
      justify-content: space-around;
      padding: 35px 35px 0px 35px;
    }

    #imgwrap img {
      width: 100%;
    }

    #maininfo{
      display: flex nowrap;
      flex-direction: column;
      justify-content: space-around;
      /* padding: 20px; */
      margin: 25px;

    }

    #teaching{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/teaching.jpg");
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;        /* Parallax effect */
  color: black;
  height: 100px;
  padding: 30px;
  grid-column: 1 / -1;
    }

    #talks{
      background-attachment: fixed; /* Parallax effect */
      background-image: url("../images/talks.jpg");
      background-position: center;  /* Parallax effect */
      background-repeat: no-repeat; /* Parallax effect */
      background-size: cover;        /* Parallax effect */
      color: black;
      height: 100px;
      padding: 30px;
      grid-column: 1 / -1;
        }


    #prospective{
      background-attachment: fixed; /* Parallax effect */
      background-image: url("../images/michigan.jpg");
      background-position: center;  /* Parallax effect */
      background-repeat: no-repeat; /* Parallax effect */
      background-size: cover;        /* Parallax effect */
      color: black;
      height: 100px;
      padding: 30px;
      grid-column: 1 / -1;
            
    
    }


.intro{
  display:flex;
  flex-direction: column;

}

    #intro img {
      width: 100%;
    }

/*this is for the contact page*/
.container-contact{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 25% 50% 25%;
  grid-row-gap: 50px;
  align-items: center;
  justify-items: center;
  }
  #contact-header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}



#contact-header h1{
    text-align: center;
    font-weight: bold;
}

#form{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  align-items: left;
  background-color: lightblue;
  padding: 20px 20px 20px 20px;
  border: solid 1px darkgray;
}

.ceren{
grid-column: 1/2;
grid-row: 1/2;
text-align: left;
padding: 20px 0px 20px 20px;
font-size: 24pt;
font-weight: bold;
background-color: white;
}

.ceren h1{
align-items: center;
justify-items: center;
}

.form-group{
  padding: 10px;
  width: 300px;
}

input{
  height: 50px;
  width: 300px;
  border: solid 1px black;

}

textarea{
  height: 60px;
  width: 300px;
  border: solid 1px black;
}

.text-center{
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  padding: 0px 0px 50px 0px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

ol li{
  padding: 5px 0px 5px 0px;
}

ul.a {
  list-style-type: square;
  padding: 30px;
}

ol{
  position: relative;
  left: 10px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* this is the end of the contact page */

.container-projects{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 25% 50% 25%;
  grid-row-gap: 50px;
  align-items: center;
  justify-items: center;
  }
  .container-publications{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 50% 25%;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
    }
.media{
display: flex nowrap;
flex-direction: column;
justify-content: space-around;
padding: 20px;


}
.media h1{
background-color: lightblue;

}
.media h2{
  font-size: 24px;
  line-height: 1.5;
  color:black;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.news-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;



}


.movements{
  display: flex nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;


}
.movements h2{
  font-size: 24px;
  line-height: 1.5;
  color:black;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.gezi-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;


}
.networks{
  display: flex nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}
.networks h2{
  font-size: 24px;
  line-height: 1.5;
  color:black;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.social-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;


}
.deliberation{
  display: flex nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}
.deliberation h2{
    font-size: 24px;
    line-height: 1.5;
    color:black;
    font-weight: bold;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0,0,0,.1),
      0 0 5px rgba(0,0,0,.1),
      0 1px 3px rgba(0,0,0,.3),
      0 3px 5px rgba(0,0,0,.2),
      0 5px 10px rgba(0,0,0,.25),
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
  }

.threading-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;


}
.charity{
  display: flex nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}
.charity h2{
  font-size: 24px;
  line-height: 1.5;
  color:black;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.charities1-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;

}
.Service{
  font-size: 15px;
  line-height: 20px;
  padding: 15px;

  display: flex nowrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}
.Service h2{
  font-size: 24px;
  line-height: 1.5;
  color:black;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.service-image{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content:  center;
  margin: 0 auto;

}


@media screen and (min-width: 768px) {

  #imgwrap img{
    align-items: center;
    width: 50%;
    grid-column: 2 / 3; 
    grid-row: 3 / 1;
    margin-left: 150px;
    padding-bottom: 20px;
  } 
  /* #imgwrap{
    display: flex nowrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 35px 0px 35px;
  } */
  .container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto auto;
    /* grid-template-columns: 25% 50% 25% 50% 25%; */
    /* width: 100vw; */
  }

  .nav{
    font-size: 18px;
    line-height: 23px;
    background-attachment: fixed;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    grid-column: 2 / 3; 
  
  }

  ul.a {
    list-style-type: square;
    padding: 60px;
  }


    p{
      font-size: 16px;
      line-height: 20px;
      padding: 20px;
      margin-left: 70px;
      margin-right: 70px;
      padding-bottom: 30px;
      /* margin-block-start: 3em;
      margin-block-end: 3em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; */
      
      }

      h3{
        font-size: 16px;
        line-height: 20px;
        color: black;
      }
      
      
      .one{
        font-size: 14px;
        line-height: 20px;
        color: black;
        font-style: italic;
      }

      .two{
    /* padding-top: 15px; */
    padding-bottom: 10px;
    text-align: left;
    grid-column: 2 / 2; 
    grid-row: 4 / 2;
      }

  #form{
    padding: 20px 120px 20px 120px;
  }


}


@media screen and (min-width: 1000px) {

  #imgwrap img{
    align-items: center;
    width: 50%;
    grid-column: 2 / 3; 
    grid-row: 3 / 1;
    margin-left: 250px;
    padding-bottom: 20px;
  } 
  /* #imgwrap{
    display: flex nowrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 35px 0px 35px;
  } */
  .container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto auto;
    /* grid-template-columns: 25% 50% 25% 50% 25%; */
    /* width: 100vw; */
  }

  .nav{
    font-size: 21px;
    line-height: 23px;
    background-attachment: fixed;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    grid-column: 2 / 3; 
  
  }


  ul.a {
    list-style-type: square;
    padding: 100px;
  }


   

      h3{
        font-size: 16px;
        line-height: 20px;
        color: black;
      }
      
      
      .one{
        font-size: 14px;
        line-height: 20px;
        color: black;
        font-style: italic;
      }

      .two{
    /* padding-top: 15px; */
    padding-bottom: 10px;
    font-size: 50px;
    text-align: left;
    grid-column: 2 / 2; 
    grid-row: 4 / 2;
      }

      #teaching{
        background-attachment: fixed; /* Parallax effect */
        background-image: url("../images/teaching.jpg");
        background-position: center;  /* Parallax effect */
        background-repeat: no-repeat; /* Parallax effect */
        background-size: cover;        /* Parallax effect */
        color: black;
        height: 300px;
        padding: 30px;
        grid-column: 1 / -1;
          }
      
          #talks{
            background-attachment: fixed; /* Parallax effect */
            background-image: url("../images/talks.jpg");
            background-position: center;  /* Parallax effect */
            background-repeat: no-repeat; /* Parallax effect */
            background-size: cover;        /* Parallax effect */
            color: black;
            height: 300px;
            padding: 30px;
            grid-column: 1 / -1;
              }
      
      
          #prospective{
            background-attachment: fixed; /* Parallax effect */
            background-image: url("../images/michigan.jpg");
            background-position: center;  /* Parallax effect */
            background-repeat: no-repeat; /* Parallax effect */
            background-size: cover;        /* Parallax effect */
            color: black;
            height: 300px;
            padding: 30px;
            grid-column: 1 / -1;
                  
          
          }

          h1{
            font-size: 45px;
              line-height: 30px;
              text-align: center;
              padding-top: 25px;
              padding-bottom: 20px;
          
              /* padding-left: 25px; */
              /* grid-column: 3 / 3; */
          }
          
          h2{
            text-align: center;
            font-size: 30px;
            padding: 25px;
            line-height: 1.25;
          }
          
          h3{
            font-size: 28px;
            line-height: 35px;
            color: black;
          }

          .one{
            font-size: 16px;
            line-height: 30px;
            color: black;
            font-style: italic;
          }
          
          .text-block{
            background-color: rgba(255, 255, 255, .8);
            border: 5px solid black;
            padding-top: 10px;
            margin: auto;
          }

          p{
              font-size: 25px;
              line-height: 30px;
              padding: 35px;
              margin-left: 70px;
              margin-right: 70px;
            
            }

            #form{
              padding: 40px 200px 40px 200px;
            }

}

@media screen and (prefers-reduced-motion: reduce){
      html{
        scroll-behavior: initial;
    }
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: none;
      transition: none;
      z-index: 1;
    }

    .skip a:focus{
      top:0;
    }
}
